#luck-three {
  .num_box_warp {
    width: 93vw;
    height: auto;
    margin: 3vw auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .num_box_two {
      margin: 2vw auto;
    }
  }
}
