#luck-setting {
  padding: 10px 50px;
  .ant-form-item {
    margin-bottom: 10px;
  }
  .header {
    font-size: 40px;
    line-height: 80px;
    margin-bottom: 5px;
    text-align: center;
  }
  .content {
    width: 680px;
    margin: auto;
    .console_box {
      margin: 10px 0;
    }
    .before_data_list {
      margin-top: 50px;
      p {
        font-size: 20px;
        line-height: 40px;
      }
    }
  }
  @media screen and (min-width: 1124px) {
    .tips {
      position: fixed;
      right: 5px;
      padding: 15px 10px;
      top: 50px;
      width: 180px;
      box-sizing: border-box;
      border: 1px solid #f6f6f6;
      border-radius: 5px;
      p {
        margin-bottom: 0px;
        line-height: 23px;
        font-size: 12px;
      }
    }
  }
  @media screen and (max-width: 1123px) {
    .tips {
      padding: 15px 10px;
      box-sizing: border-box;
      border: 1px solid #f6f6f6;
      border-radius: 5px;
      p {
        margin-bottom: 0px;
        line-height: 25px;
        font-size: 13px;
      }
    }
  }
}
